$primary-color: #3a708d
$color: #EFEFEF

.IconizedLink
    box-sizing: border-box
    text-shadow: none
    margin: 10px
    a > span
        color: $color
        background: $primary-color
    a:hover
        .icon
            transition: transform .3s ease, background-color .3s ease, color .3s ease
            transform: scale(1.2)

.icon, .link
    display: inline-block
    font-size: 16px
    line-height: 16px
    vertical-align: middle

.icon
    padding: 12px
    border-radius: 50%
    font-size: 24px
    transition: transform .5s ease, background-color .5s ease, color .5s ease

.link
    padding: 8px
    padding-left: 15px
    border-radius: 0 10px 10px 0
    margin-left: -10px
    @media screen and (max-width: 840px)
        display: none
