@import '../../fonts'

$bgColor: #EFEFEF
$color: #333
$primary-color: #58A8D5

.Academic
  width: 90%
  height: 100%
  padding: 40px
  box-sizing: border-box
  .Card
    margin: 20px
  h1
    margin-bottom: 30px
    font-size: 2rem
  .historic
    display: flex
    flex-direction: column
    align-items: stretch
    justify-content: space-evenly
    flex-wrap: nowrap
  .qualification, .institution, .location
    font-family: sans
    display: block
    margin: 8px
    text-align: left
  .qualification
    font-weight: 600
    font-size: 1.1rem
  .location
    font-size: 0.85rem
    color: lighten($color, 30%)
    font-style: italic