@font-face {
    font-family: 'LibreBaskerville-Bold';
    src: url('../fonts/LibreBaskerville-Bold.ttf');
}

@font-face {
    font-family: 'LibreBaskerville';
    src: url('../fonts/LibreBaskerville-Regular.ttf');
}

body {
    background: #353535;
    color: white;
}

header, h1, h2, h3, h4, h5 {
    font-family: 'LibreBaskerville-Bold', Amaranth, Helvetica, Times New Roman, sans-serif;
}

header {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.content {
    font-family: 'LibreBaskerville';
    position: absolute;
    padding: 20px;
    border-radius: 5px;
    background: #232323;
    width: 800px;
    left: 50%;
    margin-left: -400px;
    opacity: 0.95;
    box-shadow: 0 3px 15px #111;
}
